:root {
  --background-color: #ffffff;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* .accent {
  color: blue;
} */
body {
  font-family: "roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
